@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Noto+Sans+TC&family=Nunito+Sans:ital,wght@1,200&family=Rubik+Iso&display=swap');

html {
    font-size: 62.5%;
}

body{
    background-image: url(../Imagenes/FondoOscuro.jpg) ;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    display:flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5{
    color: antiquewhite;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2rem;
}

h1, h3{
    font-size: 3rem;
    text-align: center;
    margin: 6rem auto;
}


nav{
    padding: 40px 60px;  
    align-self: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

main table tr th{
    color: antiquewhite;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2rem;
    line-height: 1.8rem;
}

main table tr td{
    color: antiquewhite;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

main section form label{
    color: antiquewhite;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.8rem;
    line-height: 3rem; 
}

nav ul{
    color: antiquewhite;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav ul li{
    margin-right: 10px;
    
}

section form label{
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size:2rem; 
    line-height: 1rem;
}

body nav a img{
    width: 500px;
    height: auto;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

footer{
    margin-top: 5rem;
}
footer a img{
    width: 100px;
}

.link{
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2rem; 
    line-height: 1.8rem;
}

.link:hover{
    color: darkgoldenrod;  
    transition: color 0.2s ease-in-out;
}

.img--fluid{
    width: 90%;
}

.redes__titulo--md{
    text-align: center;
    font-size: 2rem;
    margin: 5px 0;
}

.center{
    text-align: center;
}

.photos{
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 280px 280px 280px 280px;
    gap: 80px;
    justify-content: center;
}    

.photo_resize{
    max-height: 280px;
    max-width: 280px;
}

.videos{
    margin-top: 10rem;
}

.youtube{
    width: 360px;
    height: 215px;
}

.logo-container{
    width: 100%;
    height: auto;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.logo{
    max-width: 95vw;
    text-align: center;
}

.scale:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

@media screen and (min-width: 480px){
    .img--fluid{
        width: 80%;
    }  
}

@media screen and (min-width: 768px){
    .photos{
        grid-template-columns: 280px 280px;
        grid-template-rows: 280px 280px;
        } 
    .logo{
        max-width: 35vw;
        }    
    nav ul{
            flex-direction: row;
        }  
    .img--fluid{
            width: 35%;
        }  
    .youtube{
            width: 560px;
            height: 315px;
        }
}

@media screen and (min-width: 1024px){
    
}